<!doctype html>
<html>
    <head>
        {% if title %}
        <title>{{ title }} - The Primary Keys</title>
        {% else %}
        <title>The Primary Keys</title>
        {% endif %}
    </head>
    <body>
        <div>
            The Primary Keys:
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('home') }}">Home</a>
            {% else %}
            <a href="{{ url_for('enter') }}">Home</a>
            {% endif %}
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>
        {% block content %}{% endblock %}
    </body>
</html>