<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        .button {
            border: 2px solid;
            border-radius: 5px;
            background-color: white;
            color: black;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
        }
    </style>
    <meta charset="UTF-8">
    <title>The Primary Keys - Home</title>
</head>

<body>
    <div style="text-align: center">
        <h1>Welcome to Our Group's Webpage</h1>
        <h2>You Can Use This Webpage to Interact With Our Baseball Database</h2>
        <a href="/login"><button class="button">Sign In</button></a>
        <a href="/register"><button class="button">Register</button></a>
    </div>
<!--    <img src="MLB.png" alt="MLB" style="horiz-align: center">-->
</body>

</html>