{% extends "base.html" %}

{% block content %}
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    .center {
        margin-left: auto;
    margin-right: auto;
    }
</style>

<div style="text-align: center" xmlns="http://www.w3.org/1999/html">
    <h1>Hi, {{ current_user.username }}</h1>
    <h2>You Choose Team: {{ team }} and Year: {{ year }}</h2>

    {% for position in values %}
    <table class="center">
        <caption>{{ values.name }}</caption>
        <thead>
            <tr>
                {% for pos in positions %}
                <th>{{ pos }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ values.pitched }}</td>
            <td>{{ values.catcher }}</td>
            <td>{{ values.firstBase }}</td>
            <td>{{ values.secondBase }}</td>
            <td>{{ values.thirdBase }}</td>
            <td>{{ values.shortStop }}</td>
            <td>{{ values.leftField }}</td>
            <td>{{ values.centerField }}</td>
            <td>{{ values.outField }}</td>
            <td>{{ values.designatedHitter }}</td>
            <td>{{ values.pinchHitter }}</td>
            <td>{{ values.pinchRunner }}</td>
        </tr>
    </table>
    {% endfor %}

</div>
{% endblock %}}