{% extends "base.html" %}

{% block content %}
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 5px;
        text-align: center;
    }
    .center {
        margin-left: auto;
        margin-right: auto;
    }
    caption {
        font-weight: bold;
    }
</style>

<div style="text-align: center" xmlns="http://www.w3.org/1999/html">
    <h1>Hi, {{ current_user.username }}</h1>
    <h2>You Choose Team: {{ team }} and Year: {{ year }}</h2>

    {% for player in values %}
    <table class="center" style="width:100%">
        <caption>{{ player.name }}</caption>
        <tr>
            <th></th>
            {% for pos in positions %}
            <th>{{ pos }}</th>
            {% endfor %}
        </tr>
            <tr>
                <td><b>Games</b></td>
                <td>{{ player.pitched }}</td>
                <td>{{ player.catcher }}</td>
                <td>{{ player.firstBase }}</td>
                <td>{{ player.secondBase }}</td>
                <td>{{ player.thirdBase }}</td>
                <td>{{ player.shortStop }}</td>
                <td>{{ player.leftField }}</td>
                <td>{{ player.centerField }}</td>
                <td>{{ player.outField }}</td>
                <td>{{ player.designatedHitter }}</td>
                <td>{{ player.pinchHitter }}</td>
                <td>{{ player.pinchRunner }}</td>
            </tr>
    </table>
    <p></p>
    {% endfor %}

</div>
{% endblock %}}